* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 20px;
}

body {
  background: whitesmoke;
}

h2 {
  margin: 2rem auto;
}

p {
  margin: 1rem auto;
  padding-left: .8rem;
  line-height: 1.3rem;
}

.header {
  height: 33vh;
  background-color: #333;
  text-align: center;
}

.header-title {
  display: inline-block;
  font-size: 3.5rem;
  color: white;
  font-weight: 800;
  padding-top: 6rem;
  margin-bottom: .5rem;
}

.hr {
  width: 80%;
  margin: auto;
  height: 8px;
  background-color: #0064bd;
  border: 0;
  border-radius: 45px;
  margin-top: .5rem;
}

#menu-btn-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 45px;
  z-index: 100;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  background: #bbb;
  left: 25%;
  width: 50px;
  height: 5px;
  border-radius: 15px;
  transition: .3s;
}

.menu-btn:before, .menu-btn:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px;
  background: #bbb;
  border-radius: 15px;
  transition: .3s;
}

.menu-btn:before {
  top: -10px;
}

.menu-btn:after {
  top: 10px;
}

.x {
  transform: rotate(45deg);
}
.x:before {
  top: 0;
}

.x:after {
  top: 0;
  transform: rotate(90deg);
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  border-right: 5px solid #0064bd;
  background: #333;
  box-shadow: 0 0 10px black;
  padding: 1rem 0;
  transition: .3s;
}

.open {
  left: 0;
}

.menu .menu-title {
  font-size: 2rem;
  text-align: center;
  color: gray;
  margin: 1rem auto;
}

.nav li {
  border-width: 1px 0;
  border-color: gray;
  border-style: solid;
  list-style-type: none;
}

.nav li a {
  position: relative;
  color: gray;
  text-decoration: none;
  font-size: 1.2rem;
  padding: .8rem 0 .8rem 1.2rem;
  display: block;
  font-weight: bold;
}

.nav li a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 0;
  height: 100%;
  background: #eee;
  opacity: .3;
  transition: width .2s;
}

.nav li a:hover {
  color: #fff;
}

.nav li a:hover::after {
  width: 100%;
}

.main {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.section-title {
  font-size: 1.8rem;
}

code, pre {
  background: #ddd;
  border-radius: 5px;
  font-family: monospace;
  font-size: .8rem;
}

pre {
  position: relative;
  border-left: 3px solid #0064bd;
  padding: 1rem .9rem;
  display: block;
  margin: .5rem auto;
  overflow-x: auto;
  counter-reset: lineNumber;
}

pre:before {
  content: '';
  position: absolute;
  width: 30px;
  border-right: 3px solid gray;
  height: 100%;
  top: 0;
}

p code {
  padding: .2rem;
}

pre code:before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  position: absolute;
  left: 20px;
  width: 20px;
  color: lightslategray;
}


.fib-formula {
  display: block;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 3px;
  border-left: 3px solid gray;
  padding: .8rem;
}

footer {
  display: flex;
  height: 15vh;
  background-color: #333;
  color: #ddd;
  justify-content: center;
  align-items: center;
}