* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 20px;
}

body {
  background: whitesmoke;
}

h2 {
  margin: 40px auto;
}

p {
  margin: 20px auto;
  padding-left: 15px;
}

.header {
  height: 33vh;
  background-color: #333;
  text-align: center;
}

.header-title {
  display: inline-block;
  font-size: 3.5rem;
  color: white;
  font-weight: 800;
  padding-top: 125px;
  margin-bottom: 10px;
}

.hr {
  width: 80%;
  margin: auto;
  height: 8px;
  background-color: lightblue;
  border: 0;
  border-radius: 45px;
  margin-top: 10px;
}

.main {
  padding: 20px;
  width: 50%;
  margin: auto;
}

.section-title {
  font-size: 1.8rem;
}

footer {
  display: flex;
  height: 15vh;
  background-color: #333;
  color: #ddd;
  justify-content: center;
  align-items: center;
}